
@media (max-width: 767px) {
  body .banner__heading-h1 .r {
    font-size: 16px;
    bottom: 4px;
  }

  .project .gym-products .gym-products-section:nth-child(4):hover .gym-products-section-a .products-name h2::after {
    bottom: 15px;
    width: 100%;
    height: 4px;
  }
  .project .gym-products .gym-products-section:nth-child(4) .gym-products-section-a .products-name h2::after {
    bottom: 15px;
    width: 100%;
    height: 4px;
  }
  .project {
    padding: 0 5%;
  }
  .error-message-service {
    font-size: 12px;
    line-height: 15px;
  }
  .main-padding-bottom1-3 .goods-swiper-description .goods-description h2 {
    font-size: 16px;
    line-height: 15px;
  }
  .main-padding-bottom1-3 .goods-swiper-description .goods-description p {
    font-size: 14px;
    line-height: 20px;
  }
  .button-show-all {
    width: 100%;
  }
  .button-show-all-button {
    font-size: 14px;
    line-height: 15px;
    height: 40px;
  }
  .goods-swiper-container-h3 {
    padding-top: 50px;
  }
  .slider-item {
    max-width: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .my-slider-container .slider-item .slider-item-img {
    padding-bottom: 25px;
    max-height: 300px;
    width: auto;
  }
  .my-slider-container .slider-item .slider-item-p {
    min-width: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 15px;
    right: 0;
    min-height: 20px;
  }
  .custom-table {
    position: relative;
  }
  .custom-table-title-th {
    font-size: 16px;
    line-height: 15px;
  }
  .custom-table-body-tr:nth-child(odd) {
    background-color: #e6e8ed;
  }
  .custom-table-body-td {
    font-size: 14px;
    line-height: 15px;
  }
  .custom-table {
    display: none;
  }
  .accordion-mobile-container {
    display: inline-block;
  }
  .block-header-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .block-header-logo-svg {
    height: 36px;
    position: relative;
    right: 20px;
  }
  .block-header {
    padding-top: 15px;
    height: 35px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .block-header .block-header-space-left {
    width: 50%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .block-header .block-header-space-right {
    width: 50%;
  }
  .test {
    border-top: 2px solid #e6e8ed;
  }
  .block-header-burger-menu {
    width: 30px;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }
  .block-header-burger-menu {
    padding-bottom: 3px;
    margin-top: 15px;
    height: 20px;
    width: 30px;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }
  .block-header-number-svg {
    cursor: pointer;
    margin-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 20px;
    height: 20px;
    margin-right: 30px;
    margin-top: 10px;
  }
  .block-header-space-right .block-header-number {
    display: none;
  }
  .main-index .gym-products {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 0;
  }
  .main-index .gym-products h2 {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 9px;
    letter-spacing: 0.01em;
    top: 54px;
  }
  .project .gym-products h3 {
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 9px;
    letter-spacing: 0.01em;
    top: 44px;
  }
  .project .gym-products {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 0;
  }
  .project .gym-products h2 {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 9px;
    letter-spacing: 0.01em;
    top: 40px;
  }
  .main-index .products-descripion {
    display: none;
  }
  .project .products-descripion {
    display: none;
  }
  .main-index .products-descripion-fon {
    display: none;
  }
  .project .products-descripion-fon {
    display: none;
  }
  .project .gym-products-section:last-child:hover .gym-products-text .products-name h2::after {
    bottom: 4px;
  }
  .gym-products-section:last-child:hover .gym-products-text .products-name h2::after {
    bottom: 4px;
  }
  .gym-products-section .gym-products-text .products-name .white::after {
    bottom: 4px;
    height: 4px;
  }
  .project .products-name h2::after {
    height: 4px;
    bottom: 4px;
  }
  .products-name h2::after {
    height: 4px;
    bottom: 4px;
  }
  .gym-products-section:last-child .gym-products-text .products-name .h2-nofon {
    top: 54px;
  }
  .project .gym-products-section:hover .gym-products-text .products-name h2 {
    padding-bottom: 9px;
    top: 40px;
  }
  .gym-products-section:hover .gym-products-text .products-name h2 {
    padding-bottom: 9px;
    top: 54px;
  }
  .project .gym-products-section:hover .gym-products-text .products-name h2::after {
    bottom: 4px;
  }
  .gym-products-section:hover .gym-products-text .products-name h2::after {
    bottom: 8px;
  }
  .gym-products-section:hover .gym-products-text .products-name h2::after {
    bottom: 4px;
  }
  .main-index .gym-products-section {
    height: 144px;
    margin-left: 0;
  }
  .project .gym-products-section {
    height: 144px;
    margin-left: 0;
  }
  .main-index .products-name {
    padding-top: 0;
  }
  .project .products-name {
    padding-top: 0;
  }
  .main-index .products-descripion {
    font-size: 15px;
    line-height: 13px;
  }
  .project .products-descripion {
    font-size: 15px;
    line-height: 13px;
  }
  .main-index .products-descripion-fon {
    font-size: 15px;
    line-height: 13px;
  }
  .project .products-descripion-fon{
    font-size: 15px;
    line-height: 13px;
  }
  .main-padding-bottom1-3 .re-linking-four-sections {
    margin-top: 4px;
    height: auto;
    max-height: 337px;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .re-linking-four-sections-block {
    height: 110px;
    width: 49.5%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .re-linking-four-sections-block .re-linking-p {
    font-size: 11px;
    line-height: 11px;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .re-linking-four-sections-block .re-linking-p::after {
    height: 2px;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .re-linking-two-sections {
    height: auto;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .re-linking-two-sections .re-linking-four-sections-block {
    height: 110px;
  }
  .main-padding-bottom1-3
    .re-linking-four-sections
    .re-linking-two-sections
    .re-linking-four-sections-block
    .re-linking-p {
    font-size: 11px;
    line-height: 11px;
  }
  .main-padding-bottom1-3
    .re-linking-four-sections
    .re-linking-two-sections
    .re-linking-four-sections-block
    .re-linking-p::after {
    height: 2px;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-run-up {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-run {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-ellipse {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-bikes {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-steppers {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-nabor {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-functional {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-kompozit {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-plastino {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-multi {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .re-linking-four-sections .sections-group-traning {
    height: 110px;
    width: 100%;
    margin-bottom: 2%;
  }
  .main-padding-bottom1-3 .description-cardio {
    margin-bottom: 1px;
  }
  .main-padding-bottom1-3 .description-cardio p {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
  }
  .main-padding-bottom1-3 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 26px;
  }

  body .treadmills .header-description {
    max-width: 1720px;
  }
  body .treadmills .header-description-h2 {
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
    bottom: 0;
    top: 7px;
    padding-bottom: 10px;
  }
  body .treadmills .header-description-p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding-top: 5px;
    padding-left: 0;
  }
  .treadmills .goods-catalog-second {
    padding-top: 5.4%;
    padding-left: 0;
  }
  .treadmills .goods-catalog-second .goods-cart {
    padding-top: 4%;
    width: 100%;
    height: auto;
  }
  .treadmills .goods-catalog-second .goods-cart-img {
    text-align: center;
    width: 100%;
    bottom: 4px;
    right: 7px;
  }
  .treadmills .goods-catalog-second .goods-cart-img-padding {
    padding-bottom: 16%;
    padding-left: 2%;
    padding-top: 15px;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .treadmills .goods-catalog-second .goods-cart-description {
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-top: 2px;
    width: 100%;
  }
  .treadmills .goods-catalog-second .goods-cart-description-h2 {
    min-height: 34px;
    height: auto;
    width: 98%;
    padding-left: 14px;
    font-size: 14px;
    line-height: 22px;
  }
  .treadmills .goods-catalog-second .goods-cart-description-p {
    font-size: 12px;
    line-height: 20px;
    padding-top: 8px;
  }
  .treadmills .goods-catalog-second .goods-cart-description-a {
    font-size: 14px;
    line-height: 25px;
    padding-top: 25px;
  }

  .search-page .goods-catalog-second .goods-cart {
    padding-top: 4%;
    width: 100%;
    height: auto;
  }
  .search-page .goods-catalog-second .goods-cart-img {
    text-align: center;
    width: 100%;
    bottom: 4px;
    right: 7px;
  }
  .search-page .goods-catalog-second .goods-cart-img-padding {
    padding-bottom: 16%;
    padding-left: 2%;
    padding-top: 15px;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .search-page .goods-catalog-second .goods-cart-description {
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-top: 2px;
    width: 100%;
  }
  .search-page .goods-catalog-second .goods-cart-description-h2 {
    min-height: 34px;
    height: auto;
    width: 98%;
    padding-left: 14px;
    font-size: 14px;
    line-height: 22px;
  }
  .search-page .goods-catalog-second .goods-cart-description-p {
    font-size: 12px;
    line-height: 20px;
    padding-top: 8px;
  }
  .search-page .goods-catalog-second .goods-cart-description-a {
    font-size: 14px;
    line-height: 25px;
    padding-top: 25px;
  }

  body .treadmills .goods-catalog-second {
    padding-top: 0px;
  }
  body .treadmills .compas .compas-description-h3 {
    font-size: 14px;
    line-height: 15px;
  }
  body .treadmills .compas .compas-description-p {
    font-size: 12px;
    line-height: 20px;
  }
  body .treadmills .compas .compas-description-a {
    font-size: 14px;
    line-height: 25px;
    padding-top: 0;
  }
  .treadmills .compas .compas-description {
    padding-bottom: 55px;
  }
  .treadmills .compas .compas-description-a:after {
    top: 24px;
  }

  body .treadmills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 6.5%;
  }

  body .treadmills .compas-description {
    width: 100%;
  }
  body .treadmills .compas-description-h3 {
    font-size: 14px;
    line-height: 15px;
  }
  body .treadmills .compas-description-p {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding-top: 3%;
  }
  body .treadmills .compas-description-a {
    float: right;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.03em;
    top: 21px;
  }
  body .treadmills .compas-img {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 183px;
  }
  body .treadmills .compas-img-logo {
    min-height: 183px;
    width: 100%;
  }
  body .treadmills .goods-catalog-second .goods-cart {
    padding-top: 4%;
    width: 100%;
    height: auto;
  }
  .goods-cart-img-padding {
    padding-left: 49px;
    padding-top: 35px;
    padding-right: 47px;
  }
  .goods-cart-magrin {
    margin-top: 38px;
  }

  .compas .header-description-h2 {
    font-size: 15px;
    line-height: 20px;
    padding-top: 08px;
  }
  .compas .header-description-p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 17px;
  }
  .compas .compas-description {
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .compas .compas-description-block {
    width: 100%;
    height: auto;
  }
  .compas .compas-description-block-img .compas-img {
    width: 688px;
  }
  .compas .compas-description-block-h3 {
    padding-top: 34px;
    font-size: 14px;
    line-height: 15px;
  }
  .compas .compas-description-block-p {
    padding-top: 5px;
    font-size: 14px;
    line-height: 20px;
  }
  .compas .compas-description-block-li {
    font-size: 14px;
    line-height: 25px;
  }

  .goods-cart .goods-header-img {
    height: auto;
  }
  .goods-cart .goods-header-description {
    padding-top: 60px;
  }
  .goods-cart .header-h1 {
    font-size: 14px;
    line-height: 0;
  }
  .goods-cart .goods-header-description-p {
    padding-top: 7%;
    font-size: 14px;
    line-height: 20px;
  }
  .goods-cart .goods-header-description-p-color {
    padding-top: 7%;
  }
  .goods-cart .goods-header-description-p-color-li {
    padding-top: 5.6%;
    font-size: 14px;
    line-height: 15px;
    color: #2fb4c6;
  }
  .goods-cart .goods-header-description .console-p {
    top: 113.5%;
    left: 10px;
    font-size: 14px;
    line-height: 15px;
  }
  .goods-cart .goods-header-button {
    width: 100%;
  }
  .goods-cart .goods-header-console {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: space-between;
    padding-right: 0%;
    padding-top: 66px;
    min-height: 383px;
  }
  .goods-cart .goods-header-console-block {
    width: 50%;
    text-align: center;
  }
  .goods-cart .goods-header-console-block-p {
    font-size: 14px;
    line-height: 17px;
    padding-top: 11%;
  }
  .goods-cart .goods-header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 8.5%;
  }
  .button-send-request {
    width: 100%;
  }
  .goods-cart .goods-header-button .button-send-request-button {
    background-color: #2ebfb1;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.03em;
    margin-left: 0;
  }
  .goods-cart .goods-header-button .button-send-compare {
    padding-top: 15px;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .goods-cart .goods-header-button .button-send-compare-button {
    bottom: 0px;
    left: 0;
  }
  .goods-cart .goods-header-button .button-send-compare-button::after {
    top: 25px;
    right: 0;
    width: 100%;
    height: 4px;
  }
  .tech-specifications {
    width: 99%;
    margin-left: 10px;
  }
  .tech-specifications .title-padding {
    padding-top: 4.7%;
    padding-bottom: 3.6%;
    height: 58px;
  }
  .tech-specifications-name-span {
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 7.5%;
    line-height: 20px;
    letter-spacing: 0.03em;
    width: 50%;
    padding-right: 3%;
    padding-left: 3%;
  }
  .tech-specifications-description-span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding-left: 3%;
  }
  .tech-specifications-title {
    padding-bottom: 3.3%;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.03em;
  }
  .tech-specifications-title::after {
    bottom: 0px;
  }
  .tech-specifications-title-span {
    float: right;
    color: #222222;
    font-size: 22px;
  }
  .tech-specifications-tr {
    background: #e6e8ed;
  }
  .tech-specifications-tr:nth-child(2n) {
    background: #fff;
  }
  body .feedback-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #e6e8ed;
    width: 100%;
    max-height: 630px;
    margin-top: -50px;
    min-height: 302px;
  }
  body .feedback-color .feedback {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 91%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    padding-left: 1%;
  }
  body .feedback-color .feedback-logo {
    width: 34%;
    padding-left: 13px;
    padding-top: 21px;
  }
  body .feedback-color .feedback-descriptin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0%;
    padding-bottom: 35px;
    padding-left: 9px;
    padding-top: 4.5%;
    width: 100%;
  }
  body .feedback-color .feedback-descriptin-name {
    font-size: 18px;
    line-height: 30px;
    padding-left: 9px;
  }
  body .feedback-color .feedback-descriptin-text {
    padding-top: 5%;
    font-size: 14px;
    line-height: 20px;
  }
  html body .main-blog {
    padding-bottom: 40px;
  }

  html body .main-blog .main-blog-header-right-p {
    font-size: 12px;
    line-height: 20px;
  }
  html body .main-blog .hide-read {
    display: inline-block;
  }

  html body .main-blog-header-left-first {
    padding-top: 7%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  html body .main-blog-header-left-first-text {
    padding-left: 1%;
    padding-top: 30px;
    width: 100%;
  }
  html body .main-blog-header-left-first-text-h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    width: 100%;
    letter-spacing: 0em;
  }
  html body .main-blog-header-left-first-text-p {
    font-size: 14px;
    padding-top: 8px;
    line-height: 20px;
    padding-bottom: 0;
  }
  html body .main-blog-header-left-first-text-a {
    font-size: 14px;
    line-height: 25px;
    top: 7px;
    right: 0;
  }
  html body .main-blog-header-left-first-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  html body .main-blog-header-left-first-img-logo {
    height: 242px;
  }
  html body .main-blog-header-left-last-text {
    width: 100%;
    padding-top: 7%;
  }
  html body .main-blog-header-left-last-text-h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    width: 100%;
    letter-spacing: 0em;
  }
  html body .main-blog-header-left-last-text-p {
    font-size: 14px;
    padding-top: 8px;
    line-height: 20px;
  }
  html body .main-blog-header-left-last-text-a {
    font-size: 14px;
    line-height: 25px;
    top: 7px;
    right: 0;
    margin-right: 0;
  }
  html body .main-blog-header-left-last-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  html body .main-blog-header-left-last-img-logo {
    height: 245px;
  }
  html body .main-blog-header-right {
    padding-left: 7.5%;
    padding-right: 5px;
    margin-top: 17px;
    padding-top: 14.5%;
    padding-bottom: 19%;
    margin-left: 10px;
    width: 96.8%;
  }
  html body .main-blog-header-right-h2 {
    font-size: 14px;
    line-height: 15px;
  }
  html body .main-blog-header-right-a {
    font-size: 14px;
    line-height: 25px;
    height: 77px;
    padding-top: 8%;
    margin-right: 7%;
  }
  html body .main-blog-header-right-a::after {
    bottom: 30px;
  }
  .main-blog .main-blog-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 3%;
  }
  .main-blog .main-blog-main .main-blog-main-button {
    width: 100%;
  }
  .main-blog .main-blog-main .main-blog-main-button-send {
    top: 20px;
    height: 44px;
    font-size: 16px;
  }
  .main-blog .main-blog-main-sections {
    width: 100%;
    padding-bottom: 3.4%;
    padding-top: 8.2%;
  }
  .main-blog .main-blog-main-sections-description {
    padding-top: 7%;
  }
  .main-blog .main-blog-main-sections-description-h2 {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.016em;
  }
  .main-blog .main-blog-main-sections-description-p {
    padding-top: 3%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }
  .main-blog .main-blog-main-sections-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main-blog .main-blog-main-sections-img-logo {
    -o-object-fit: cover;
    object-fit: cover;
    padding-left: 0;
    height: 245px;
  }
  .main-blog-page .main-blog-page-main-comment-logo .Artem-Gusev-div {
    width: 60%;
  }
  .main-blog-page .main-blog-page-main-comment-description-text {
    font-size: 14px;
    line-height: 20px;
  }
  .main-blog-page .blog-page-svg {
    padding-bottom: 15px;
    width: 24px;
  }

  .main-blog-page-main-img-logo {
    min-height: 140px;
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .main-blog-page-main-text-h2 {
    font-size: 14px;
    line-height: 15px;
    padding-top: 9%;
  }
  .main-blog-page-main-text-p {
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 22px;
  }
  .main-blog-page-popular {
    padding-top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .main-blog-page-popular-header {
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 32px;
  }
  .main-blog-page-popular .button-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 8%;
  }
  .main-blog-page-popular .button-subscribe-button {
    width: 100%;
    font-size: 14px;
    line-height: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .main-blog-page-popular .none-top-h3 {
    display: none;
  }
  .main-blog-page-popular-news {
    padding-top: 15px;
    width: 100%;
    padding-bottom: 4%;
  }
  .main-blog-page-popular-news padding-bottom .padding-top-h3 {
    padding-top: 0%;
  }
  .main-blog-page-popular-news-h3 {
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 17px;
    font-weight: 600;
  }
  .main-blog-page-popular-news-p {
    font-size: 14px;
    line-height: 25px;
    bottom: 8px;
    padding-bottom: 1%;
  }
  .main-blog-page-popular-news-p::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    z-index: -1;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .main-blog-page-popular-news::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    z-index: -1;
    background: #aaaaaa;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .main-project-page-img {
    height: 136px;
    width: auto;
  }
  .main-project-page-nav {
    height: auto;
  }
  .main-project-page-nav-left {
    height: 25px;
    width: 100%;
  }
  .main-project-page-nav-left-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    width: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
  }
  .main-project-page-nav-left-arrow {
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
  }
  .main-project-page-nav-left-arrow svg {
    height: 15px;
  }
  .main-project-page-nav-name {
    height: 25px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
  }
  .main-project-page-nav-right {
    height: 25px;
    width: 100%;
  }
  .main-project-page-nav-right-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 15%;
    width: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
  }
  .main-project-page-nav-right-arrow {
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
  }
  .main-project-page-nav-right-arrow svg {
    height: 15px;
  }
  .main-project-page-main-left {
    padding-left: 0;
  }
  .main-project-page-main-right {
    padding-left: 0;
    padding-bottom: 20px;
    width: 100%;
  }
  .feedback .feedback-descriptin {
    padding-left: 0;
  }

  .main-project-page-main-left-p {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
  }
  .main-project-page-main-right-info {
    font-size: 12px;
    line-height: 15px;
    padding-top: 12px;
  }
  .project-page-feedback-margin {
    height: 20px;
  }
  main .main-comparison-instruction {
    font-size: 14px;
    line-height: 15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: 100%;
    text-align: center;
  }

  main .main-comparison-nav {
    padding-top: 8px;
    padding-left: 0;
  }
  main .main-comparison-nav .main-comparison-nav-item {
    width: 100%;
    padding-bottom: 5px;
  }
  main .main-comparison-nav-item-p {
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 12px;
    bottom: 0px;
  }
  main .main-comparison-goods-target-p {
    font-size: 14px;
    line-height: 15px;
  }
  .main-comparison-goods .main-comparison-goods-target {
    width: 50%;
  }
  body .about .about-lvl .about-text-h2 {
    font-size: 14px;
    line-height: 15px;
  }
  body .about .about-lvl .about-text-p {
    font-size: 14px;
    line-height: 20px;
  }

  .service .service-input-h2 {
    font-size: 16px;
    padding-top: 22px;
    line-height: 17px;
    padding-bottom: 23px;
  }
  .service .service-input .label-style {
    font-size: 12px;
    line-height: 25px;
  }
  .service-input .input-style {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .service-input .conf {
    padding-bottom: 40px;
  }
  .service-input .conf .button-submit {
    font-size: 14px;
    line-height: 25px;
    width: 100%;
    height: 25px;
    padding: 00;
  }
  .service-input .conf-p {
    font-size: 12px;
    line-height: 15px;
  }
  body .contact {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
  .header-h1 {
    padding-left: 0;
    display: inline-block;
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 21px;
  }
  body .comparison-page .header-h1 {
    padding-left: 0;
    display: inline-block;
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 21px;
  }
  .main-blog-page .header-h1 {
    width: 100%;
    font-size: 44px;
    line-height: 98px;
    text-transform: uppercase;
    color: #222222;
    padding-top: 24px;
    margin-bottom: 37px;
  }
  
  .contact-info-email {
    height: auto;
  }
  .contact-info {
    width: 100%;
  }
  .contact-social-link {
    width: 100%;
    margin-top: 38px;
    margin-bottom: 22px;
  }
  .contact-title {
    font-size: 14px;
    line-height: 25px;
  }
  .contact-description {
    font-size: 18px;
    line-height: 25px;
    padding-top: 6px;
  }
  .contact-social-link-facebook {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    height: 100px;
    padding-bottom: 16px;
    padding-left: 5%;
  }
  .contact-social-link-instagram {
    width: 100%;
    height: 100px;
    padding-bottom: 16px;
    padding-left: 5%;
  }
  body .search-page .search-line-notice {
    font-size: 14px;
    line-height: 15px;
  }
  body .goods-swiper-container-h3 {
    font-size: 16px;
    line-height: 17px;
  }
  .footer-background {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer .view-blog {
    margin-top: 5%;
    height: 100%;
  }
  .footer .view-blog .view-blog-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer .view-blog .view-blog-box-a {
    width: 100%;
  }
  .footer .view-blog .view-blog-box .title-blog {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 18px;
  }
  .footer .view-blog .view-blog-box .box-box {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 15px;
    width: 100%;
    height: 232px;
    margin-bottom: 28px;
  }
  .footer .view-blog .view-blog-box .box-box .box__title {
    font-size: 18px;
    line-height: 22px;
  }
  .footer .view-blog .view-blog-box .box-box .box__text {
    padding-top: 4px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    width: 100%;
  }
  .footer .view-blog .view-blog-box .box-box .box-padding {
    padding-top: 5%;
  }
  .footer .view-blog .view-blog-box .view-box-space {
    margin-left: 1%;
  }
  .footer-line {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1720px;
  }
  .footer-line .line-left {
    height: 45%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .footer-line .line-left-first {
    width: 100%;
    padding-top: 10px;
  }
  .footer-line .line-left-second {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0;
  }
  .footer-line .line-left span {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-line .line-right {
    height: 45%;
    width: 100%;
    padding-left: 0px;
    text-align: left;
  }
  .footer-line .line-right-first {
    width: 100%;
    padding-top: 0px;
    padding-left: 0;
  }
  .footer-line .line-right-second {
    width: 100%;
    padding-top: 0px;
  }
  .footer-line .line-right span {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-form__row .label-style {
    font-size: 12px;
    line-height: 25px;
  }
  .footer-background {
    padding-top: 26px;
  }
  .footer-background .form-request-title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: #222222;
  }
  .footer-background .form-request .text-political-confidence {
    height: auto;
    margin-top: -6px;
  }
  .footer-background .form-request input {
    height: 35px;
    font-weight: 500;
    margin-bottom: 25px;
    padding: 0;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.03em;
  }
  .footer-background .form-request button {
    line-height: 0px;
    margin-top: 0px;
    height: 40px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .footer-background .form-request .button-send {
    margin-top: 11px;
    margin-bottom: 0px;
  }
  .footer .footer-background .form-request .text-political-confidence p {
    text-transform: none;
    margin-top: 13px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #222222;
    opacity: 0.6;
  }
  .modal-content .posotoin-button-close {
    width: 100%;
  }
  .modal .modal-content {
    width: 320px;
    padding-left: 5.5%;
    padding-right: 5.5%;
    height: auto;
    overflow-y: scroll;
  }
  .modal .modal-content .modal-search {
    width: 100%;
    height: auto;
  }
  body .modal .modal-content .modal-search .search-container {
    width: 100%;
  }
  .modal .modal-content .modal-nav {
    padding-top: 15px;
  }
  .modal .modal-content .modal-nav-no-desctop-menu {
    height: auto;
  }
  .modal .modal-content .modal-nav-no-desctop-menu-a {
    height: auto;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
  }
  .modal .modal-content .modal-nav-no-desctop-menu-sub-menu {
    height: auto;
  }
  .modal .modal-content .modal-nav-no-desctop-menu-sub-menu-a {
    height: auto;
    font-size: 13px;
    line-height: 15px;
    padding-top: 20px;
    padding-left: 30px;
  }
  .modal .modal-content .modal-nav-menu {
    height: auto;
    padding-top: 15px;
  }
  .modal .modal-content .modal-nav-menu-a {
    height: auto;
    font-size: 14px;
    line-height: 17px;
  }
  .modal .modal-content .modal-nav-menu-a:after {
    height: auto;
    display: none;
  }
  .modal .modal-content .modal-nav-menu-a:hover:after,
  .modal .modal-content .modal-nav-menu-a:focus:after {
    height: auto;
    display: none;
  }
  .test-first {
    height: 25%;
    width: 100%;
  }
  .modal-nav {
    width: 100%;
  }
  .test {
    height: auto;
    width: 100%;
  }
  .modal .modal-content .modal-nav-no-desctop-menu-svg {
    height: 7px;
    right: -148px;
  }
  .modal .modal-content .modal-nav-no-desctop-menu-svg-power {
    height: 7px;
    right: -136px;
  }
  main .breadcrumbs a,
  main .breadcrumbs p {
    font-size: 11px;
  }
  body {
    font-family: "Montserrat", "sans-serif";
    font-weight: normal;
    font-style: normal;
  }

  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .box {
    width: 100%;
  }
  .box:not(:last-child) {
    margin-bottom: 20px;
  }
  .box__icon {
    margin-bottom: 15px;
  }
  .box__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 120px;
  }
  .inp .label {
    font-size: 14px;
    line-height: 25px;
    top: 0px;
  }

  .inp input:focus + span {
    transform: translateY(-17px) scale(0.8);
  }

  .re-linking-four-sections .re-linking-four-sections-block .re-linking-p-cardio::after {
    bottom: 6px;
    height: 2px;
  }

  .re-linking-four-sections .re-linking-four-sections-block .re-linking-p-cardio {
    font-size: 12px;
    padding-bottom: 0px;
  }

  .re-linking-four-sections .re-linking-four-sections-block:hover .re-linking-p-cardio::after {
    bottom: 20px;
  }
  .slider-goods-img .sliders {
    right: 30px;
  }
  .slider-goods {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  .slider-goods-prev {
    right: 40px;
    flex-direction: row;
    width: 100%;
    margin-left: 16%;
  }
  .slider-goods-prev .sliders {
    padding-top: 33px;
    width: 76px;
    padding-bottom: 38px;
    margin-bottom: 5px;
  }
  .slider-goods-img {
    position: relative;
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }
  .slider-goods-prev .sliders .sliders-img {
    width: 65px;
  }
  .slider-goods-prev .sliders .sliders-img {
    left: 6px;
  }
  .slider-goods-img .sliders .sliders-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider-goods-img .sliders {
    position: unset;
  }
  body .feedback-color {
    margin-top: 15px;
  }
  .window-standart-modal-text {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .window-standart-modal-button {
    width: 90%;
    height: 34px;
    font-size: 14px;
    line-height: 35px;
  }
  .window-standart-modal {
    height: 210px;
  }
  .modal-button {
    height: 42px;
  }
  .modal-button-comparison {
    height: 30px;
  }
  .modal-button-comparison::after {
    font-size: 14px;
    line-height: 25px;
  }
  .service {
    padding-left: 5%;
    padding-right: 5%;
  }
  .search-page {
    padding-left: 5%;
    padding-right: 5%;
  }
  body .search-page .goods-catalog-second .goods-cart {
    padding-left: 0;
  }
  .main-project {
    padding-left: 5%;
    padding-right: 5%;
  }
  .project .gym-products-section:hover .gym-products-text .products-name h3 {
    top: 44px;
  }
  .project .gym-products .gym-products-section:nth-child(4) .gym-products-section-a .products-name h2 {
    line-height: 24px;
  }
  .project .gym-products .gym-products-section:nth-child(4) .gym-products-section-a .products-name h2::after {
    bottom: 5px;
    width: 100%;
    height: 4px;
  }
  .project .gym-products:hover .gym-products-section:nth-child(4) .gym-products-section-a .products-name h2::after {
    bottom: 5px;
    width: 100%;
    height: 4px;
  }
  #customize-controls-carusel svg {
    height: 136px;
    width: 60px;
    margin-top: 16px;
    background-color: rgba(0, 49, 95, 0.3);
    padding-top: 49px;
    padding-bottom: 49px;
  }
  .main-padding-bottom1-3 .breadcrumbs {
    height: 8px;
  }
  .main-project-page .header-h1 {
    padding-top: 0;
    font-size: 22px;
    line-height: 20px;
  }
  .main-blog-page .breadcrumbs {
    display: none;
  }
  .main-blog-page .header-h1 {
    padding-left: 0;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    padding-top: 22px;
    line-height: 24px;
    padding-bottom: 0;
  }
  .search-page .header-h1 {
    padding-top: 38px;
  font-size: 14px;
  line-height: 15px;
    margin-bottom: 0;
  }
   .main-comparison .breadcrumbs {
    padding-top: 16px;
  }
  .main-project-page-main-right-logo img {
    max-width: 100%;
  }
  .top-margin .compas {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .main-index {
    margin-bottom: 27px;
  }
}