@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
  
  @font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

  @font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

  @font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }


//   /./assets/fonts/Geometria-Heavy.woff'