@mixin default-padding {
  padding-left: 3%;
  padding-right: 3%;
}

// @mixin scrollbar {

// }

@mixin defaultContainer {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
}

@mixin defaultFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin defaultFlex–°olumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin sliderZindexForArrow {
  position: relative;
  z-index: 1;
}

@mixin sliderCustomizeControls {
  width: 105%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    color: black;
  }
  &:-moz-placeholder {
    color: black;
  }
  &::-moz-placeholder {
    color: black;
  }
  &:-ms-input-placeholder {
    color: black;
  }
}

@mixin font-size-em() {
  @media only screen and (min-width: 1580px) {
    font-size: calc(100vw / 25);
  }
  @media only screen and (max-width: 1580px) {
    font-size: calc(100vw / 23);
  }
  @media only screen and (max-width: 1280px) {
    font-size: calc(100vw / 18);
  }
  @media only screen and (max-width: 1024px) {
    font-size: calc(100vw / 12);
  }
  @media only screen and (max-width: 768px) {
    font-size: calc(100vw / 10);
  }
  @media only screen and (max-width: 600px) {
    font-size: calc(100vw / 8);
  }
  @media only screen and (max-width: 500px) {
    font-size: calc(100vw / 6);
  }
}
