.header-arrow-menu-nav {
  position: absolute;
  top: 76px;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #e0ecf6;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-left: 16%;
  left: 0;
  padding-right: 18%;
  z-index: -1;
  opacity: 0;

  &-a {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #222222;
  }
}

@media (max-width: 1450px) {
  .header-arrow-menu-nav-a {
    font-size: 14px;
  }
}

@media (max-width: 1023px) {
  header .header-arrow-menu-nav {
    display: none;
  }
}
