.block-header-menu {
  @include defaultFlex();
  justify-content: space-between;
  align-content: flex-end;
  width: 85%;
  height: auto;
  padding-left: 6%;
  padding-right: 9%;
  padding-bottom: 4px;

  &-logo-svg {
    margin-left: 5px;
  }
  &-a {
    position: relative;
    display: inline;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #222222;
    transition: 0.1s linear;

    &:hover {
      .block-header-menu-logo-svg {
        transform: rotate(180deg);
      }
      opacity: 0.5;
    }

    &:after {
      transition: 0.2s linear;
      content: "";
      opacity: 0;
      position: absolute;
      top: 40px;
      right: 0;
      width: 100%;
      height: 4px;
      z-index: 0;
      background: #2ebfb1;
    }
    &:hover:after,
    &:focus:after {
      top: 30px;
      opacity: 1;
    }
  }
}

@media (max-width: 1450px) {
  .block-header-menu {
    @include defaultFlex();
    justify-content: space-around;
    align-content: flex-end;
    width: 85%;
    height: auto;
    padding-left: 10%;
    padding-right: 0;
  }
  .block-header-menu-a {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .block-header-space-left .block-header-menu {
    display: none;
  }
}
