.block-header-number-svg {
  display: none;
}

.block-header-number {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;

  padding-bottom: 4px;
  padding-right: 8%;
  width: 70%;
  min-width: 153px;
}
.block-header-number-a {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #353535;
  opacity: 0.8;
}

@media (max-width: 1250px) {
  .block-header-number-a {
    font-size: 14px;
  }
}

@media (max-width: 1023px) {
  .block-header-space-right .block-header-number {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .block-header-number-svg {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    margin-right: 10%;
  }
}

@media (max-width: 767px) {
  .block-header-number-svg {
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
  .block-header-space-right .block-header-number {
    display: none;
  }
}
