.form-request {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 45%;
  margin-bottom: 3%;

  &-title {
    margin-bottom: 31px;
    font-style: normal;
    font-size: 30px;
    line-height: 37px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    letter-spacing: 0em;
  }

  .footer-form input {
    width: 91.8%;
  }

  .text-political-confidence p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #222222;
    opacity: 0.6;
    text-transform: none;
    margin-top: 13px;
  }

  button {
    width: 269px;
    height: 60px;
    background-color: #2ebfb1;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;

    &:hover {
      opacity: 0.8;
    }
  }

  input {
    margin-bottom: 23px;
    border: 0;
    padding: 7px 0;
    height: 47px;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #222;
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222222;

    @include placeholder();
  }
  .button-send {
    @include defaultFlex();
    // justify-content: center;
    margin-top: 14px;
  }
}

@media (max-width: 1480px) {
  .form-request {
    .text-political-confidence p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #222222;
      opacity: 0.6;
      text-transform: none;
      margin-top: 13px;
    }
  }
}

@media (max-width: 1124px) {
  .form-request {
    .button-send {
      margin-top: 14px;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 1023px) {
  .form-request {
    width: 100%;
    padding-right: 0;

    p {
      font-size: 24px;
      letter-spacing: 0.02em;
    }

    .footer-form p {
      width: 90%;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.0001em;
    }
    .button-send {
      margin-top: 14px;
    }
  }
}

@media (max-width: 767px) {
  .form-request {
    &-title {
      margin-bottom: 12px;
    }
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: -0.01em;
      color: #222222;
    }

    .text-political-confidence {
      height: auto;
      margin-top: -6px;
    }

    input {
      height: 25px;
      font-weight: 500;
      margin-bottom: 23px;
      padding: 0;
      font-size: 10px;
      line-height: 25px;
      letter-spacing: 0.03em;
    }

    button {
      line-height: 0px;
      margin-top: 0px;
      height: 26px;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .button-send {
      margin-top: 11px;
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 767px) {
  .footer-background .form-request .text-political-confidence p {
    text-transform: none;
    margin-top: 13px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.03em;
    color: #222222;
    opacity: 0.6;
  }
}
