.accordion-mobile-container {
  width: 100%;
}
.accordion-mobile {
  width: 100%;
  margin: 20px 0;
  list-style-type: none;

  .item-p-first {
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: lowercase;
    color: #444444;
  }
}

.accordion-mobile .mobile-accordion-item {
  @include defaultFlex();
  width: 100%;
  padding: 0;
  color: white;
  margin-bottom: 7px;
  text-align: left;
}

.accordion-mobile .mobile-accordion-item .mobile-accordion-item-p {
  width: 50%;
  text-align: left;
  margin: 0;
  padding: 10px;
  display: none;
  padding-right: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.03em;
  color: #1f1e1e;
}

.mobile-accordion-item-color {
  @include defaultFlex();
  width: 100%;
  .mobile-accordion-item-p {
    background-color: #e0ecf6;
  }
}
.mobile-accordion-item .mobile-accordion-item-h3 {
  width: 100%;
  position: relative;
  padding: 7px;
  margin: 0;
  background: #e6e8ed;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.03em;
  color: #000000;
}

.mobile-accordion-item-color .margin-mobile-accordion-item {
  margin-bottom: 20px;
}

.mobile-accordion-item:hover {
  cursor: pointer;
}

.mobile-accordion-item.open .mobile-accordion-item-h3 {
  background: #e6e8ed;
}

.mobile-accordion-item .mobile-accordion-item-h3::after {
  content: "";
  float: right;
}

.mobile-accordion-item.open .mobile-accordion-item-h3::after {
  transform: rotate(270deg);
}

.fifthItem .mobile-accordion-item-h3 {
  background: #e6e8ed;
}

.fourthItem .mobile-accordion-item-h3 {
  background: #e6e8ed;
}

.thirdItem .mobile-accordion-item-h3 {
  background: #e6e8ed;
}

.secondItem .mobile-accordion-item-h3 {
  background: #e6e8ed;
}

.firstItem .mobile-accordion-item-h3 {
  background: #e6e8ed;
}

.mobile-accordion-item.open .mobile-accordion-item-p {
  display: block;
}
