.search-page-h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 1023px) {
  .search-page-h1 {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .search-page-h1 {
    font-size: 12px;
    line-height: 15px;
  }
}

.h1-normal {
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 98px;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 1023px) {
  .h1-normal {
    font-size: 50px;
    line-height: 61px;
  }
}

@media (max-width: 767px) {
  body .h1-normal {
    font-size: 20px;
    line-height: 24px;
  }
}
