.footer {
  position: relative;
}

.arrow-up {
  cursor: pointer;
  position: absolute;
  background-color: #2ebfb1;
  text-align: center;
  width: 30px;
  height: 34px;
  right: 20px;
  bottom: 40px;
  padding-top: 6px;
  transition: 0.2s linear;
}
@media (min-width: 1023px) {
  .hide-arrow {
    z-index: -1;
    opacity: 0;
  }
}
.arrow-comparison {
  bottom: 4px;
}
