.arrow-up {
    background-color: #2ebfb1;
    text-align: center;
    width: 30px;
    height: 34px;
  }
//  <div class="arrow-up">
//     <div class="modal-button-arrow-up"><svg width="11" height="7" viewBox="0 0 11 7" fill="none"
//             xmlns="http://www.w3.org/2000/svg">
//             <path fill-rule="evenodd" clip-rule="evenodd"
//                 d="M5.20688 0.744751L4.45557 2.42557L10.1951 6.20231V4.0087L5.20688 0.744751Z" fill="white" />
//             <path fill-rule="evenodd" clip-rule="evenodd"
//                 d="M5.20571 0.744751L5.95703 2.42557L0.21772 6.20215V4.00855L5.20571 0.744751Z" fill="white" />
//         </svg>
//     </div>
// </div>