.button {
  cursor: pointer;
  width: 270px;
  height: 60px;
  padding-top: 19px;
  text-align: center;
  color: #fff;
  background-color: #2ebfb1;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

//Нагугленный способ добавки отдельных стилей для IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  // .button {
  // 	background: #000;
  // }
}

// подписаться

.button-subscribe {
  padding-top: 15%;
  width: 100%;

  &-button {
    width: 100%;
    background-color: #2ebfb1;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 4%;
    padding-bottom: 4%;
    &:hover {
      background-color: #2ebfb0e3;
    }
  }
}
// modal button in footer mobile page (страница сравнение)

@media (max-width: 1023px) {
  .modal-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #00000080;
    height: 42px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    &-comparison {
      text-align: center;
      height: 30px;
      width: 45%;
      min-width: 150px;
      max-width: 340px;
      background-color: #2ebfb1;
      padding: 3px 15px;
      &::after {
        content: "сравнить";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}
// subscribe
.button-subscribe {
  padding-top: 15%;
  width: 100%;

  &-button {
    width: 100%;
    background-color: #2ebfb1;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 4%;
    padding-bottom: 4%;
    &:hover {
      background-color: #2ebfb0e3;
    }
  }
}

//show all

.button-show-all {
  width: 100%;

  &-button {
    position: relative;
    bottom: 12px;
    width: 100%;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    height: 50px;
    background-color: #2ebfb1;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 19px;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 1023px) {
  .button-show-all {
    width: 100%;

    &-button {
      font-size: 14px;
      line-height: 25px;
    }
  }
}
@media (max-width: 767px) {
  .button-show-all {
    width: 100%;

    &-button {
      font-size: 12px;
      line-height: 15px;
      height: 40px;
    }
  }
}
