.footer-form {
  &__row {
    position: relative;
    .label-style {
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #222222;
      position: absolute;
      bottom: 30px;
    }
  }
}
