.main-padding-bottom1-3 {
  padding-bottom: 6%;
}

.goods-swiper-description {
  margin-top: 55px;
  max-width: 1720px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .goods-swiper {
    padding-top: 0.8%;
    width: 68%;
  }

  .goods-description {
    padding-top: 4.7%;
    width: 32%;

    & h2 {
      width: 60%;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: #2fb4c6;
    }

    & p {
      padding-top: 6.3%;
      width: 80%;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #585858;
    }
  }
}
.row-reverse {
  flex-direction: row-reverse;

  .goods-swiper {
    padding-top: 0.8%;
    width: 68%;
  }

  .goods-description {
    padding-top: 20px;
    width: 25%;

    & h2 {
      width: 100%;
    }

    & p {
      width: 100%;
    }
  }
}

@media (max-width: 1750px) {
  .main-padding-bottom1-3 {
    @include default-padding();
  }
}

@media (max-width: 1610px) {
  .goods-swiper-description .goods-description h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .goods-swiper-description .goods-description p {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 1023px) {
  .goods-swiper-description {
    margin-top: 25px;
  }
  .goods-swiper-description .goods-swiper {
    padding-top: 20px;
    width: 100%;
  }

  .main-padding-bottom1-3 .goods-swiper-description .goods-description {
    padding-top: 0;
    width: 100%;

    & h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #2fb4c6;
    }

    & p {
      padding-top: 20px;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #585858;
    }
  }
}

@media (max-width: 768px) {
  .main-padding-bottom1-3 .goods-swiper-description .goods-description {
    & h2 {
      font-size: 14px;
      line-height: 15px;
    }

    & p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
