.about {
  @include defaultContainer();
  @include defaultFlex–°olumn();
  &-h1 {
    padding-top: 46px;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
    color: #222222;
  }
  .about-lvl-margin-bottom {
    height: 40px;
  }
  .row-rewerse {
    flex-direction: row-reverse;
  }

  &-lvl {
    @include defaultFlex();
    padding-top: 6.4%;
    padding-bottom: 4.2%;
    width: 100%;
    justify-content: space-between;
    .about-img {
      width: 47%;
      display: flex;
      overflow: auto;
      @include defaultFlex();
      justify-content: center;
      &-logo{
          object-fit: cover;
      }
    }
    .about-text {
      width: 50%;

      &-h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        text-transform: uppercase;
        color: #222222;
      }
      &-p {
        padding-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: rgba(34, 34, 34, 0.8);
      }
    }
  }
}

@media (max-width: 1750px) {
  .about {
    @include default-padding();
  }
}

@media (max-width: 1223px) {
  .about {
    .breadcrumbs {
      margin-top: 0;
    }
  }
  .about .about-h1 {
    font-size: 50px;
    line-height: 61px;
    padding-top: 0;
  }
  .about-lvl .about-img {
    width: 100%;
  }
  .about .about-text {
    width: 100%;
  }

  .about .about-lvl {
    padding-top: 0;
  }
  .about .about-lvl .about-text-h2 {
    font-size: 30px;
    line-height: 37px;
    padding-top: 31px;
  }

  .about .about-lvl .about-text-p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  body .about .about-h1 {
    font-size: 20px;
    line-height: 24px;
  }
  body .about .about-lvl .about-text-h2 {
    font-size: 12px;
    line-height: 15px;
  }

  body .about .about-lvl .about-text-p {
    font-size: 12px;
    line-height: 20px;
  }
}
