.goods-cart {
  .open::before {
    content: "";
    position: absolute;
    background-image: url(../img/goods-cart/plus.png);
    background-repeat: no-repeat;
    background-color: #fd4800;
    height: 20px;
    width: 20px;
    right: 10px;
    margin-top: 15px;
    z-index: 1;
  }
  .close::before {
    content: "";
    position: absolute;
    background-image: url(../img/goods-cart/min.png);
    background-repeat: no-repeat;
    background-color: #0ef767;
    height: 20px;
    width: 20px;
    right: 10px;
    margin-top: 15px;
    z-index: 1;
  }
  .accordionWrapper-content {
    position: relative;
  }
  // accordion start
  .accordionWrapper {
    position: relative;
    margin-top: 40px;
  }
  .accordionItem {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .accordionItemHeading {
    cursor: pointer;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    transform: scaleY(0);
    float: left;
    display: block;
  }
  .open .accordionItemContent {
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display: block;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.4s ease;
    box-sizing: border-box;
  }

  .open .accordionItemHeading {
    margin: 0px;
  }
  // accordion end
}
