.banner {
  @keyframes fadeInUp {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  padding-top: 35px;
  margin-top: 73px;
  @include defaultContainer();
  @include defaultFlex();
  justify-content: flex-start;
  align-content: flex-start;
  position: relative;
  height: 500px;
  margin-bottom: 85px;
  width: 92%;
  overflow: hidden;

  &__img {
    &1 {
      opacity: 0;
      animation: fadeInUp 1s ease-in-out 0s forwards;
      animation-delay: 0.7s;
      position: absolute;
      background-image: url("../img/banner/banner-true3.png");
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-position-x: 100%;
    }
    &2 {
      opacity: 0;
      animation: fadeInUp 1.5s ease-in-out 0s forwards;
      animation-delay: 1s;
      position: absolute;
      background-image: url("../img/banner/banner-true2.png");
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-position-x: 100%;
    }
    &3 {
      opacity: 0;
      animation: fadeInUp 2s ease-in-out 0s forwards;
      animation-delay: 1.3s;
      position: absolute;
      background-image: url("../img/banner/banner-true1.png");
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-position-x: 100%;
    }
  }
  &__heading {
    opacity: 0;
    // as we're using the same animation for each instance, call it here so we're not repeating it
    animation: fadeInUp 0.5s ease-in-out 0s forwards;
    animation-delay: 0.5s;
    @include defaultFlexСolumn();
    justify-content: center;
    height: 50%;
    width: 100%;
    &-h1 {
      padding-top: 45px;
      width: 65%;
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      line-height: 55px;
      text-transform: uppercase;
      color: #222222;

      & .r {
        font-size: 25px;
      }
    }
  }
  &__advantages {
    opacity: 0;
    // as we're using the same animation for each instance, call it here so we're not repeating it
    animation: fadeInUp 1s ease-in-out 0s forwards;
    animation-delay: 1.6s;
    height: 250px;
    @include defaultFlex();
    justify-content: space-between;
    align-content: flex-start;
    width: 56%;
    padding-top: 47px;
    &-section {
      @include defaultFlexСolumn();
      padding-top: 0px;
      padding-right: 0;
      margin-left: 0;

      &-img {
        height: 46px;
        width: 100%;
      }

      &-p {
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #323232;
        padding-top: 15px;
        &::after {
          content: "";
          position: absolute;
          top: 77px;
          right: 45%;
          width: 40px;
          height: 4px;
          z-index: 1;
          background: #2ebfb1;
          transition: 0.2s linear;
        }
      }
    }
  }
}

@media (max-width: 1750px) {
  body .banner {
    &__heading {
      padding-left: 2%;
    }

    &__advantages {
      @include default-padding();
    }
  }
}

@media (max-width: 1550px) {
  .banner {
    justify-content: flex-start;
    .banner__advantages-section-p {
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
    }

    &__advantages {
      width: 57%;
      padding-top: 50px;
    }
  }
}

@media (max-width: 1023px) {
  body .banner {
    width: 100%;
    margin-top: 25px;
    @include defaultFlexСolumn();
    justify-content: center;
    align-content: flex-start;
    height: auto;
    margin-bottom: 50px;

    &__img {
      position: absolute;
      background-image: url("../img/banner/banner-true-mini.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      max-height: 470px;
      width: 100%;
      z-index: -1;
      top: 0;
      background-position-x: 100%;
      &1 {
        display: none;
      }
      &2 {
        display: none;
      }
      &3 {
        display: none;
      }
    }

    &__heading {
      @include defaultFlexСolumn();
      justify-content: flex-start;
      height: 470px;
      width: 100%;
      &-h1 {
        padding-top: 60px;
        width: 90% !important;
        font-size: 50px;
        color: #fff;
        line-height: 61px;

        & .r {
          font-size: 25px;
        }
      }
    }

    &__advantages {
      padding-left: 0;
      padding-right: 0;
      height: 165px;
      @include defaultFlex();
      justify-content: space-around;
      align-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding-top: 35px;
      &-section {
        @include defaultFlexСolumn();
        padding-top: 0px;
        padding-right: 0;
        margin-left: 0;

        &-p {
          position: relative;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 25px;
          text-align: center;
          letter-spacing: 0.03em;
          color: #323232;
          padding-top: 20px;
          &::after {
            content: "";
            position: absolute;
            top: 77px;
            right: 45%;
            width: 40px;
            height: 4px;
            z-index: 1;
            background: #2ebfb1;
            transition: 0.2s linear;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  body .banner {
    margin-top: 17px;
    margin-bottom: 0px;

    .banner__advantages-section-p {
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 40px;
    }

    .banner__advantages-section-p::after {
      top: 53px;
      right: 32%;
    }

    .banner__advantages-section-img {
      height: 25px;
    }

    &__img {
      height: auto;
      min-height: 200px;
    }

    &__heading {
      justify-content: center;
      min-height: 200px;
      height: auto;
      &-h1 {
        width: 67%;
        font-size: 20px;
        line-height: 24px;
        padding-top: 0;
        padding-bottom: 70px;
        padding-left: 6%;
      }
    }

    &__advantages {
      @include defaultFlexСolumn();
      align-content: center;
      align-items: center;
      margin: 0 auto;
      height: auto;
      width: 72%;
      padding-top: 0;
    }
  }
}

@media (max-width: 400px) {
  body .banner {
    &__heading {
      justify-content: flex-start;
      min-height: 200px;
      height: auto;
    }
  }
}

@media (max-width: 1620px) {
  .banner__heading-h1 {
    padding-top: 30px;
    width: 62%;
    font-size: 40px;
  }
}

@media (max-width: 1490px) {
  .banner__heading-h1 {
    padding-top: 30px;
    width: 59%;
    font-size: 33px;
  }
  .banner__advantages {
    width: 60%;
  }
}

@media (max-width: 1380px) {
  .banner__heading-h1 {
    padding-top: 35px;
    width: 63%;
  }
  .banner__advantages {
    width: 65%;
  }
}

@media (max-width: 1290px) {
  .banner__heading-h1 {
    width: 80%;
  }
  .banner__advantages {
    width: 80%;
  }
}
