.main-blog {
  @include defaultContainer();
  @include defaultFlex();
  padding-bottom: 115px;

  .hide-read {
    display: none;
  }

  .color-fff {
    color: #fff;
  }

  .main-blog-header-h1 {
    width: 100%;
    font-weight: 900;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
    color: #222222;
    padding-top: 45px;
  }

  &-header {
    @include defaultFlex();
    width: 100%;
    justify-content: space-between;

    &-left {
      width: 65%;
      @include defaultFlex();
      &-first {
        width: 100%;
        @include defaultFlex();
        // main-blog-header-left-first-text
        &-text {
          width: 51%;

          &-h2 {
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;
            padding-top: 67px;
            color: #222222;
            width: 65%;
          }
          &-p {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.03em;
            color: #444444;
            padding-top: 20px;
            width: 100%;
            padding-bottom: 22px;
          }
          &-a {
            font-weight: bold;
            font-size: 18px;
            position: relative;
            line-height: 25px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #222222;
            float: right;
            padding-top: 40px;
            padding-bottom: 10px;
            &:after {
              transition: 0.2s linear;
              content: "";
              position: absolute;
              top: 70px;
              right: 0;
              width: 100%;
              height: 4px;
              background: #2ebfb1;
            }
            &:hover:after,
            &:focus:after {
              top: 30px;
            }
          }
          .floatLeft {
            float: left;
          }
        }
        &-img {
          width: 45%;
          padding-top: 41px;
          padding-left: 43px;
        }
      }
      &-last {
        width: 100%;
        @include defaultFlex();
        padding-top: 3%;

        &-text {
          width: 60%;
          padding-top: 34px;
          padding-left: 46px;

          &-h2 {
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;
            color: #222222;
            width: 95%;
          }

          &-p {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.03em;
            color: #444444;
            padding-top: 3%;
          }
          &-a {
            float: right;
            margin-right: 6.5%;
            padding-top: 2.9%;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #222222;
            padding-bottom: 10px;
            position: relative;
            &:after {
              transition: 0.2s linear;
              content: "";
              position: absolute;
              top: 50px;
              right: 0;
              width: 100%;
              height: 4px;
              background: #2ebfb1;
            }
            &:hover:after,
            &:focus:after {
              top: 10px;
            }
          }
        }
        &-img {
          width: 40%;
        }
      }
    }

    &-right {
      padding-left: 5%;
      padding-right: 4%;
      width: 34.5%;
      margin-top: 41px;
      background-color: #262b38;
      padding-top: 8.6%;
      padding-bottom: 1%;

      &-h2 {
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        color: #ffffff;
      }
      &-p {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.03em;
        padding-top: 4.5%;
        padding-right: 6%;
        color: #ffffff;
      }
      &-a {
        float: right;
        padding-top: 3.5%;
        padding-right: 3%;
        font-size: 18px;
        position: relative;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        padding-bottom: 10px;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 4px;
          z-index: 1;
          background: #2ebfb1;
          transition: 0.2s linear;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .main-blog {
    &-header {
      &-left {
        width: 50%;
        &-first {
          &-text {
            width: 100%;

            &-p {
              padding-right: 40px;
            }
            &-a {
              margin-right: 6.5%;
            }
          }
          &-img {
            display: none;
          }
        }
        &-last {
          &-text {
            width: 100%;
            padding-left: 0;

            &-p {
              padding-right: 40px;
            }
          }
          &-img {
            display: none;
          }
        }
      }
      .main-blog-header-right {
        width: 50%;
      }
    }
  }
  .main-blog-header-right {
    margin-top: 0;
  }

  .color-fff {
    color: #fff;
    top: 30px;
  }
}

@media (max-width: 1750px) {
  .main-blog {
    @include default-padding();
  }
}

@media (max-width: 1023px) {
  body .main-blog {
    @include defaultContainer();
    @include defaultFlex();
    padding: 0 3%;

    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 80px;

    .breadcrumbs {
      margin-top: 0px;
    }

    .main-blog-header-h1 {
      font-size: 50px;
      line-height: 61px;
      padding-left: 2px;
      padding-top: 23px;
    }

    &-header {
      @include defaultFlex();
      width: 100%;
      padding-top: 0px;
      flex-direction: column-reverse;
      justify-content: space-between;

      &-left {
        width: 100%;
        @include defaultFlex();
        &-first {
          padding-top: 10%;
          width: 100%;
          @include defaultFlex();
          flex-direction: row-reverse;

          &-text {
            width: 50%;
            padding-left: 5%;

            &-h2 {
              padding-top: 0px;
              font-size: 18px;
              line-height: 22px;
              width: 90%;
            }
            &-p {
              font-size: 16px;
              line-height: 25px;
              padding-top: 7px;
            }
            &-a {
              float: right;
              font-size: 14px;
              position: relative;
              top: 17px;
              right: 33px;
              padding-bottom: 3px;
            }
          }
          &-img {
            display: inline-block;
            width: 50%;
            padding-top: 0px;
            padding-left: 2px;

            &-logo {
              object-fit: cover;
              height: 344px;
            }
          }
        }
        &-last {
          width: 100%;
          @include defaultFlex();
          flex-direction: row-reverse;
          padding-top: 11%;

          &-text {
            width: 50%;
            padding-top: 0px;
            padding-left: 3px;

            &-h2 {
              font-size: 18px;
              line-height: 22px;
              width: 95%;
            }

            &-p {
              font-size: 16px;
              line-height: 25px;
              padding-top: 2%;
              padding-right: 15%;
            }

            &-a {
              float: right;
              margin-right: 9.5%;
              padding-top: 4%;
              padding-bottom: 4px;
              position: relative;
            }
          }
          &-img {
            width: 50%;
            display: inline-block;

            &-logo {
              object-fit: cover;
              height: 344px;
            }
          }
        }
      }

      .main-blog-header-right {
        padding-left: 4.5%;
        padding-right: 0;
        width: 100%;
        margin-top: 20px;
        padding-top: 7.4%;
        padding-bottom: 10%;
        margin-left: 2px;

        &-h2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        }
        &-p {
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0.03em;
          padding-top: 2.5%;
          padding-right: 4%;
        }
        &-a {
          padding-top: 6%;
          margin-right: 5.5%;
          font-size: 14px;
          padding-right: 0;
          height: 89px;
          &::after {
            bottom: 23px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  body .main-blog {
    padding-bottom: 0;
    .breadcrumbs {
      margin-top: 12px;
    }

    .main-blog-header-right-p {
      font-size: 10px;
      line-height: 20px;
    }

    .hide-read {
      display: inline-block;
    }

    .main-blog-header-h1 {
      font-size: 20px;
      line-height: 24px;
      padding-top: 22px;
    }

    &-header {
      &-left {
        &-first {
          padding-top: 7%;
          flex-direction: column-reverse;

          &-text {
            padding-left: 1%;
            padding-top: 30px;
            width: 100%;
            &-h2 {
              font-size: 12px;
              font-weight: 600;
              line-height: 15px;
              width: 100%;
              letter-spacing: 0em;
            }
            &-p {
              font-size: 12px;
              padding-top: 8px;
              line-height: 20px;
              padding-bottom: 0;
            }
            &-a {
              font-size: 12px;
              line-height: 25px;
              top: 7px;
              right: 0;
            }
          }
          &-img {
            width: 100%;
            display: flex;
            justify-content: center;
            height: auto;
            &-logo {
              height: 242px;
            }
          }
        }
        &-last {
          &-text {
            width: 100%;
            padding-top: 7%;

            &-h2 {
              font-size: 12px;
              font-weight: 600;
              line-height: 15px;
              width: 100%;
              letter-spacing: 0em;
            }
            &-p {
              font-size: 12px;
              padding-top: 8px;
              line-height: 20px;
            }
            &-a {
              font-size: 12px;
              line-height: 25px;
              top: 7px;
              right: 0;
              margin-right: 0;
            }
          }
          &-img {
            width: 100%;
            display: flex;
            justify-content: center;
            &-logo {
              height: 245px;
            }
          }
        }
      }

      &-right {
        padding-left: 7.5%;
        padding-right: 5px;
        margin-top: 17px;
        padding-top: 14.5%;
        padding-bottom: 19%;
        margin-left: 10px;
        width: 96.8%;

        &-h2 {
          font-size: 12px;
          line-height: 15px;
        }
        &-a {
          font-size: 12px;
          line-height: 25px;
          height: 77px;
          padding-top: 8%;
          margin-right: 7%;
          &::after {
            bottom: 30px;
          }
        }
      }
    }
  }
}
