.squaredOne {
  position: relative;
  height: 32px;
  width: 32px;
  padding: 5px;
  background: #f2f2f2;
  border: 1px solid #cacaca;
  border-radius: 2px;
  label {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    &:after {
      content: "";
      border-radius: 1px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      left: 5px;
      background: #2ebfb1;
      opacity: 0;
    }
  }
  input[type="checkbox"] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
@media (max-width: 1400px) {
  .squaredOne {
  height:20px;
  width: 20px;
  label {
    height: 20px;
    width: 20px;
    &:after {
      width: 14px;
      height: 14px;
      top: 2px;
      left: 2px;
    }
  }
}
}