.main-comparison {
  @include defaultContainer();
  @include defaultFlex();
  justify-content: space-between;
}

.main-comparison-instruction {
  margin-bottom: 23px;
  width: 33%;
  background-color: #e0ecf6;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 25px;
}

.main-comparison-goods {
  @include defaultFlex();
  width: 75%;
  &-target {
    position: relative;
    width: 25%;
    padding-bottom: 78px;
    &-check {
      position: absolute;
      top: 0;
      right: 0;
    }
    &-p {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #515151;
    }
  }
}

.main-comparison-nav {
  width: 20%;
  &-item {
    padding-bottom: 50px;
    &-p {
      cursor: pointer;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      position: relative;
      display: inline;
      color: #222222;
      padding-bottom: 12px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 4px;
        z-index: 1;
        background: #2ebfb1;
        transition: 0.2s linear;
      }
    }
  }
  &-button .button-subscribe-button {
    margin-top: 20px;
    margin-bottom: 42px;
    width: 100%;
    background-color: #2ebfb1;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .grey {
    background-color: #cacaca;
  }
}

@media (max-width: 1750px) {
  .main-comparison {
    @include default-padding();
  }
}

@media (max-width: 1400px) {
  .main-comparison-goods-target-p {
    font-size: 15px;
    line-height: 17px;
  }
}

@media (max-width: 1023px) {
  .main-comparison {
    @include defaultFlex–°olumn();
  }
  .main-comparison-instruction {
    font-size: 14px;
    line-height: 17px;
    width: 50%;
    order: 2;
  }
  .main-comparison-goods {
    justify-content: space-between;
    width: 100%;
    order: 3;
  }
  .main-comparison-nav {
    order: 1;
    padding-top: 50px;
    width: 100%;
    @include defaultFlex();
    .button-subscribe-button {
      display: none;
    }
    .main-comparison-nav-item {
      width: 50%;
    }
  }

  .main-comparison-nav-item-p {
    font-size: 16px;
    line-height: 25px;
  }

  .main-comparison-goods-target {
    width: 30%;
  }

  .main-comparison-goods-target-p {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 767px) {
  .main-comparison-instruction {
    font-size: 12px;
    line-height: 15px;
    width: 100%;
  }

  .main-comparison-nav .main-comparison-nav-item {
    width: 100%;
  }

  .main-comparison-nav-item-p {
    font-size: 12px;
    line-height: 15px;
  }

  .main-comparison-goods-target-p {
    font-size: 12px;
    line-height: 15px;
  }

  .main-comparison-goods-target {
    width: 50%;
  }
}
