.compas {
  .header-description {
    &-h1 {
      font-weight: 900;
      font-size: 80px;
      line-height: 98px;
      text-transform: uppercase;
      color: #222222;
      padding-top: 46px;
    }
    &-h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 43px;
      text-transform: uppercase;
      color: #222222;
      padding-top: 28px;
    }
    &-p {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.03em;
      color: #444444;
      padding-top: 64px;
    }
  }
}

.compas .compas-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 6%;
  padding-bottom: 75px;

  &-block {
    width: 32%;
    height: auto;

    &-img {
      .compas-img {
        width: 550px;
      }
    }
    &-h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      text-transform: uppercase;
      color: #222222;
      padding-top: 20px;
    }
    &-p {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: rgba(34, 34, 34, 0.8);
      padding-top: 20px;
    }
    &-li {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: rgba(34, 34, 34, 0.8);

      &:first-child {
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 1750px) {
  .compas {
    @include default-padding();
  }
}

@media (max-width: 1023px) {
  .compas {
    .header-description {
      &-h1 {
        font-size: 50px;
        line-height: 61px;
        padding-top: 26px;
      }
      &-h2 {
        font-size: 20px;
        line-height: 24px;
        padding-top: 08px;
      }
      &-p {
        font-size: 20px;
        line-height: 30px;
        padding-top: 17px;
      }
    }
  }
  .compas .compas-description {
    flex-direction: column;
    padding-top: 0;

    &-block {
      width: 100%;
      height: auto;
      padding-top: 0;

      &-img {
        @include defaultFlex();
        justify-content: center;
        .compas-img {
          width: 100%;
          padding-top: 40px;
        }
      }
      &-h3 {
        padding-top: 37px;
      }
      &-p {
        padding-top: 10px;
        font-size: 16px;
        line-height: 25px;
      }
      &-li {
        font-size: 16px;
        line-height: 25px;
        &:first-child {
          padding-top: 10px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .compas {
    .header-description {
      &-h1 {
        font-size: 20px;
        line-height: 24px;
        padding-top: 26px;
      }
      &-h2 {
        font-size: 12px;
        line-height: 20px;
        padding-top: 08px;
      }
      &-p {
        font-size: 12px;
        line-height: 20px;
        padding-top: 17px;
      }
    }
  }
  .compas .compas-description {
    flex-direction: column;

    &-block {
      width: 100%;
      height: auto;

      &-img {
        .compas-img {
          width: 688px;
        }
      }
      &-h3 {
        padding-top: 34px;
        font-size: 12px;
        line-height: 15px;
      }
      &-p {
        padding-top: 5px;
        font-size: 12px;
        line-height: 20px;
      }
      &-li {
        font-size: 12px;
        line-height: 25px;
      }
    }
  }
}
