.contact {
  @include defaultContainer();
  @include defaultFlex();
  &-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #222222;
    width: 100%;
  }

  .header-h1 {
    padding-bottom: 41px;
  }

  &-description {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #353535;
    width: 100%;
    padding-top: 15px;
  }

  &-info {
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &-email {
      width: 100%;
      height: 111px;
    }
    &-number {
      width: 100%;
    }
  }

  &-social-link {
    display: flex;
    flex-wrap: wrap;
    width: 62%;
    margin-bottom: 120px;
    &-facebook {
      background-color: #3b5998;
      width: 50%;
      height: 267px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-bottom: 4%;
      padding-left: 6%;
      .link-facebook {
        width: 40px;
        height: 40px;
      }
    }
    &-instagram {
      background: linear-gradient(47.94deg, #f8e541 0%, #da3d81 54.17%, #4c30d3 100%);
      width: 50%;
      height: 267px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-bottom: 4%;
      padding-left: 6%;
      .link-instagram {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 1750px) {
  .contact {
    padding: 0 55px;
  }
}

@media (max-width: 1023px) {
  .contact {
    justify-content: space-between;

    .header-h1 {
      padding-left: 0;
    }
  }
  .contact-social-link {
    width: 55%;
  }
  .contact-title {
    font-size: 18px;
    line-height: 25px;
  }
  .contact-description {
    font-size: 22px;
    line-height: 27px;
  }
  .contact-social-link-facebook {
    order: 1;
    width: 100%;
    height: 126px;
    padding-bottom: 46px;
    padding-left: 17%;
  }
  .contact-social-link-instagram {
    width: 100%;
    height: 126px;
    padding-bottom: 46px;
    padding-left: 17%;
  }
}

@media (max-width: 767px) {
  body .contact {
    justify-content: space-between;
    @include default-padding();

    .header-h1 {
      padding-left: 0;
      display: inline-block;
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 21px;
    }
  }
  .contact-info-email {
    height: 61px;
  }
  .contact-info {
    width: 100%;
  }
  .contact-social-link {
    width: 100%;
    margin-top: 38px;
    margin-bottom: 22px;
  }
  .contact-title {
    font-size: 12px;
    line-height: 25px;
  }
  .contact-description {
    font-size: 16px;
    line-height: 20px;
    padding-top: 6px;
  }
  .contact-social-link-facebook {
    order: 1;
    width: 100%;
    height: 100px;
    padding-bottom: 16px;
    padding-left: 4%;
  }
  .contact-social-link-instagram {
    width: 100%;
    height: 100px;
    padding-bottom: 16px;
    padding-left: 4%;
  }
}
