@import "main";
@import "main-index";

@import "main-gym-products";


//index main-banner
@import "banner";

// CARDIO
@import "main-re-linking-top";
@import "main-cardio-h1";

//second level catalog
@import "second-level-header";
@import "second-level-catalog";
@import "second-level-compas";

//COMPAS
@import "compas";

//goods-cart
@import "goods-cart";
@import "accordion-in-goods-cart";

//tech-specifications
@import "tech-specifications";

//feedback
@import "feedback";

//blog
@import "blog-header";
@import "blog-main";

//blog page
@import "blog-page";
@import "blog-page-popular";

//blog page
@import "project";
@import "project-page";


//comparison
@import "comparison";
@import "comparison-page";

// check-box 
@import "check-box-squared";

// about
@import "about";

// service
@import "service";

// contact
@import "contact";

// search
@import "search";