.search-page-h1 {
  padding-top: 4%;
  margin-bottom: 5%;
}
.search-page {
  padding-top: 0;
}

.goods-catalog-second {
  padding-top: 0;
}

@media (max-width: 1023px) {
  body .search-page .goods-catalog-second .goods-cart {
    width: 100%;
    height: auto;
    margin-bottom: 36px;
  }
}
