.search-page {
  @include defaultContainer();
  @include defaultFlex();
  padding-top: 7%;
.line-notice-strong{
      font-weight: 600;
}
  .search-line {
    padding-top: 130px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    &-notice {
      transition: 1s linear;
      width: 70%;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #323232;
    }
    &-input {
      width: 100%;
      height: 100%;
      background-color: #e6e8ed;
      border-radius: 4px;
      padding-left: 20px;
    }
    &-img {
      width: 700px;
      height: 41px;
      position: relative;
      margin-top: 50px;
    }
    .search-line-input-icon {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 9px;
    }
  }

  .search-page-slider {
    width: 100%;
    padding-top: 8%;
  }
}

@media (max-width: 1750px) {
  .search-page {
    @include default-padding();

    .search-line {
      padding-top: 40px;
    }
  }
}

@media (max-width: 1023px) {
  .search-page .search-line-notice {
    font-size: 20px;
    line-height: 30px;
  }
  .search-page .search-line-img {
    max-width: 700px;
    width: 100%;
    height: 41px;
    position: relative;
    margin-top: 50px;
  }
  .goods-swiper-container-h3 {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  body .search-page .search-line-notice {
    font-size: 12px;
    line-height: 15px;
  }
  body .goods-swiper-container-h3 {
    font-size: 14px;
    line-height: 17px;
  }
}
