.compas {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 4.17%;
  &-description {
    width: 50%;

    &-h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: #222222;
      padding-top: 6.7%;
      letter-spacing: -0.015em;
    }
    &-p {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #444444;
      padding-top: 4%;
    }
    &-a {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #222222;
      position: relative;
      border-bottom: 6px solid #5bd3c7;
      top: 31px;
    }
  }
  &-img {
    width: 50%;
    // &-logo {
    // }
  }
}

.goods-cart-img-padding {
  padding-left: 35px;
  padding-top: 35px;
}

.goods-cart-magrin {
  margin-top: 38px;
}

@media (max-width: 1023px) {
  .compas {
    flex-direction: column-reverse;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 8px;
    margin-bottom: 6.5%;

    &-description {
      width: 100%;

      &-h3 {
        font-size: 14px;
        line-height: 17px;
        padding-top: 2.7%;
        letter-spacing: -0.011em;
      }
      &-p {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.03em;
        padding-top: 3%;
      }
      &-a {
        float: right;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.03em;
        top: 21px;
      }
    }
    &-img {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .goods-cart-img-padding {
    padding-left: 49px;
    padding-top: 35px;
    padding-right: 47px;
  }

  .goods-cart-magrin {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .compas {
    flex-direction: column-reverse;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 6.5%;

    &-description {
      width: 100%;

      &-h3 {
        font-size: 12px;
        line-height: 15px;
      }
      &-p {
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.03em;
        padding-top: 3%;
      }
      &-a {
        float: right;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 0.03em;
        top: 21px;
      }
    }
    &-img {
      width: 100%;
      margin: 0;
      padding: 0;
      min-height: 183px;

      &-logo {
        min-height: 183px;
        width: 100%;
      }
    }
  }

  .goods-cart-img-padding {
    padding-left: 49px;
    padding-top: 35px;
    padding-right: 47px;

  }

  .goods-cart-magrin {
    margin-top: 38px;
  }
}
