.goods-catalog-second {
  max-width: 1720px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 7.6%;
  padding-bottom: 0.85%;
  align-content: flex-start;
  align-items: flex-start;

  .goods-cart {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    margin-left: 0;
    margin-bottom: 47px;

    &-img {
      width: 50%;
      position: relative;
      bottom: 4px;
      right: 7px;
    }

    &-description {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-end;
      align-items: flex-start;
      width: 50%;

      &-h2 {
        width: 90%;
        height: auto;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        color: #222222;
        padding-left: 21px;
        letter-spacing: 0em;
        background-color: #e0ecf6;
        min-height: 51px;
        font-size: 25px;
        line-height: 32px;
        padding-top: 8px;
      }
      &-p {
        width: 90%;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #484747;
        padding-top: 19px;
      }
      &-a {
        display: inline;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #222222;
        position: relative;
        padding-top: 36px;

        &::after {
          content: "";
          position: absolute;
          bottom: -8px;
          right: 0;
          width: 100%;
          height: 6px;
          z-index: -1;
          background: #2ebfb1;
          transition: 0.2s linear;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .goods-catalog-second {
    padding-top: 5.4%;

    .goods-cart {
      width: 96%;
      height: 35%;
      margin-bottom: 36px;

      &-img {
        width: 50%;
        position: relative;
        top: 15px;
        right: 6px;
      }

      &-description {
        align-content: flex-start;
        padding-top: 2px;

        &-h2 {
          min-height: 34px;
          height: auto;
          width: 98%;
          font-size: 14px;
          line-height: 19px;
          padding-left: 16px;
        }
        &-p {
          font-size: 16px;
        }
        &-a {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .goods-catalog-second {
    padding-top: 5.4%;

    .goods-cart {
      padding-top: 4%;
      width: 96%;
      height: 35%;

      &-img {
        width: 100%;
        bottom: 4px;
        right: 7px;

        &-padding {
          padding-bottom: 16%;
          padding-left: 41px;
          padding-top: 31px;
          padding-right: 21px;
          display: flex;
          justify-content: center;
        }
      }
      &-description {
        align-content: flex-start;
        padding-top: 2px;
        width: 100%;

        &-h2 {
          min-height: 34px;
          height: auto;
          width: 98%;
          padding-left: 14px;
          font-size: 12px;
          line-height: 22px;
        }
        &-p {
          font-size: 10px;
          line-height: 20px;
          padding-top: 8px;
        }
        &-a {
          font-size: 12px;
          line-height: 25px;
          padding-top: 7px;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .goods-catalog-second {
    .goods-cart {
      &-img {
        &-padding {
          display: inline-block;
        }
      }
    }
  }
}
