.service {
  @include defaultContainer();
  @include defaultFlex();
  justify-content: center;
  width: 100%;
  &-h1 {
    padding-top: 46px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
    color: #222222;
  }
  &-input {
    width: 63%;

    &-h2 {
      font-style: normal;
      padding-top: 58px;
      padding-bottom: 39px;
      font-weight: bold;
      font-size: 35px;
      line-height: 43px;
      text-transform: uppercase;
      color: #222222;
    }

    .input-style {
      border-bottom: 1px solid #aaaaaa;
      width: 100%;
      padding-bottom: 8px;
      margin-bottom: 18px;
    }
    .conf {
      width: 100%;
      padding-bottom: 119px;
      display: flex;
      justify-content: space-between;
      &-p {
        width: 72%;
        padding-right: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #444444;
        padding-top: 28px;
      }
      .button-submit {
        height: 61px;
        width: 269px;
        color: #fff;
        background-color: #2ebfb1;
        padding: 18px 72px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        margin-top: 27px;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
    }

    .label-style {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #515151;
    }
  }
}

@media (max-width: 1750px) {
  .service {
    @include default-padding();
  }
}

@media (max-width: 1350px) {
  .service-input .conf-p {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 1210px) {
  .service-input .conf-p {
    font-size: 10px;
    line-height: 20px;
  }
}
@media (max-width: 1023px) {
  .service-input {
    width: 100%;
  }
  .service-h1 {
    font-size: 50px;
    line-height: 61px;
  }

  .service-input-h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .service-input .label-style {
    font-size: 14px;
    line-height: 15px;
  }

  .service-input .conf {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
  .service-input .conf .button-submit {
    width: 270px;
    font-size: 18px;
    height: 60px;
    line-height: 25px;
  }
  .service-input .conf-p {
    width: 100%;
    font-size: 14px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .service .service-h1 {
    font-size: 20px;
    line-height: 24px;
    padding-top: 23px;
  }

  .service .service-input-h2 {
    font-size: 14px;
    padding-top: 22px;
    line-height: 17px;
    padding-bottom: 23px;
  }

  .service .service-input .label-style {
    font-size: 10px;
    line-height: 25px;
  }
  .service-input .input-style {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .service-input .conf {
    padding-bottom: 40px;
  }

  .service-input .conf .button-submit {
    font-size: 12px;
    line-height: 25px;
    width: 100%;
    height: 25px;
    padding: 00;
  }
  .service-input .conf-p {
    font-size: 8px;
    line-height: 10px;
  }
}
