.tech-specifications {
  width: 100%;

  .title-padding {
    padding-top: 4.7%;
    padding-bottom: 3.6%;
  }

  &-name-span {
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    padding-left: 1.8%;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #000000;
    padding-right: 2%;
    border-spacing: 2px;
  }
  &-description-span {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #444444;
    border-left: 4px solid #fff;
    border-spacing: 2px;
    padding-left: 1.7%;
  }

  &-title {
    padding-bottom: 4.3%;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #444444;
    background: #fff;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      z-index: 1;
      background: #aaaaaa;
      transition: 0.2s linear;
    }

    &-span {
      float: right;
      color: #222222;
      font-size: 50px;
    }
  }

  &-tr {
    background: #e6e8ed;
  }

  &-tr:nth-child(2n) {
    background: #fff;
  }
}

@media (max-width: 1023px) {
  .tech-specifications {
    width: 95.5%;
    margin-left: 25px;

    .title-padding {
      padding-top: 4.7%;
      padding-bottom: 3.6%;
    }

    &-name-span {
      padding-top: 1.2%;
      padding-bottom: 1.3%;
      padding-left: 3%;
      font-weight: 500;
      font-size: 12px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #000000;
      width: 36.1%;
      padding-right: 2%;
    }
    &-description-span {
      font-weight: 500;
      font-size: 12px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #444444;
      border-left: 4px solid #fff;
      padding-left: 1.7%;
    }

    &-title {
      padding-bottom: 3.3%;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.03em;

      &-span {
        float: right;
        color: #222222;
        font-size: 20px;
      }
    }

    &-tr {
      background: #e6e8ed;
    }

    &-tr:nth-child(2n) {
      background: #fff;
    }
  }
}

@media (max-width: 767px) {
  .tech-specifications {
    width: 99%;
    margin-left: 10px;

    .title-padding {
      padding-top: 4.7%;
      padding-bottom: 3.6%;
      height: 58px;
    }

    &-name-span {
      font-size: 12px;
      padding-top: 3.3%;
      padding-bottom: 7.5%;
      line-height: 12px;
      letter-spacing: 0.03em;
      width: 50%;
      padding-right: 2%;
    }
    &-description-span {
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.03em;
      padding-left: 0.7%;
    }

    &-title {
      padding-bottom: 3.3%;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.03em;
      &::after {
        bottom: 0px;
      }

      &-span {
        float: right;
        color: #222222;
        font-size: 20px;
      }
    }

    &-tr {
      background: #e6e8ed;
    }

    &-tr:nth-child(2n) {
      background: #fff;
    }
  }
}
