.treadmills {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 4.17%;

  .goods-catalog-second {
    padding-top: 60px;
  }
  &-description {
    width: 50%;

    &-h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: #222222;
      letter-spacing: -0.015em;
      padding-right: 20px;
    }
    &-p {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #444444;
      padding-top: 4%;
    }
    &-a {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #222222;
      position: relative;
      border-bottom: 6px solid #5bd3c7;
      top: 31px;
    }
  }
  &-img {
    width: 50%;
    // &-logo {
    // }
  }
  .compas {
    display: flex;
    padding-top: 66px;
    justify-content: space-between;
    .compas-description {
      display: flex;
      justify-content: space-between;
      padding-top: 0;
      padding-bottom: 75px;
      width: 48%;
      padding-right: 20px;

      &-h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        color: #222222;
      }
      &-p {
        padding-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #444444;
      }
      &-a {
        padding-top: 20px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.03em;
        display: inline;
        text-transform: uppercase;
        position: relative;
        color: #222222;
        &:after {
          content: "";
          position: absolute;
          top: 45px;
          right: 0;
          width: 100%;
          height: 6px;
          z-index: -1;
          background: #2ebfb1;
          transition: 0.2s linear;
        }
      }
    }
    .compas-img {
      width: 48%;
    }
  }
}

.goods-cart-img-padding {
  padding-left: 35px;
  padding-top: 35px;
}

.goods-cart-magrin {
  margin-top: 38px;
}

@media (max-width: 1750px) {
  .treadmills {
    @include default-padding();
  }
}

@media (max-width: 1023px) {
  .treadmills {
    flex-direction: column;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 8px;
    margin-bottom: 6.5%;

    .goods-catalog-second {
      padding-top: 80px;
    }

    &-description {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-h3 {
        font-size: 14px;
        line-height: 17px;
        padding-top: 2.7%;
        letter-spacing: -0.011em;
      }
      &-p {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.03em;
        padding-top: 17px;
      }
      &-a {
        float: right;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.03em;
        top: 21px;
        align-self: flex-end;
      }
    }
    &-img {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .compas {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      .compas-description {
        order: 1;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 75px;
        width: 100%;
        padding-right: 20px;

        &-h3 {
          padding-top: 50px;
          font-size: 14px;
          line-height: 17px;
        }
        &-p {
          font-size: 16px;
          line-height: 25px;
        }
        &-a {
          align-self: flex-end;
          padding-top: 20px;
          font-size: 14px;
          line-height: 25px;
          &:after {
            content: "";
            position: absolute;
            top: 45px;
            right: 0;
            width: 100%;
            height: 6px;
            z-index: -1;
            background: #2ebfb1;
            transition: 0.2s linear;
          }
        }
      }
      .compas-img {
        width: 100%;
      }
    }
  }

  .goods-cart-img-padding {
    padding-left: 49px;
    padding-top: 35px;
    padding-right: 47px;
  }

  .goods-cart-magrin {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  body .treadmills .goods-catalog-second {
    padding-top: 0px;
  }
  body .treadmills .compas .compas-description-h3 {
    font-size: 12px;
    line-height: 15px;
  }
  body .treadmills .compas .compas-description-p {
    font-size: 10px;
    line-height: 20px;
  }
  body .treadmills .compas .compas-description-a {
    font-size: 12px;
    line-height: 25px;
  }
  body .treadmills {
    flex-direction: column;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 6.5%;

    .compas {
      padding-top: 0;

      &-description {
        width: 100%;

        &-h3 {
          font-size: 12px;
          line-height: 15px;
        }
        &-p {
          font-size: 10px;
          line-height: 20px;
          letter-spacing: 0.03em;
          padding-top: 3%;
        }
        &-a {
          float: right;
          font-size: 12px;
          line-height: 25px;
          letter-spacing: 0.03em;
          top: 21px;
        }
      }
      &-img {
        width: 100%;
        margin: 0;
        padding: 0;
        min-height: 183px;

        &-logo {
          min-height: 183px;
          width: 100%;
        }
      }
    }

    .goods-catalog-second .goods-cart {
      padding-top: 4%;
      width: 100%;
      height: auto;
    }
  }

  .goods-cart-img-padding {
    padding-left: 49px;
    padding-top: 35px;
    padding-right: 47px;
  }

  .goods-cart-magrin {
    margin-top: 38px;
  }
}
