// .modal-service {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-content: center;
//   position: fixed;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);

//   .modal-service-message {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     z-index: 1;
//     width: 800px;
//     height: 350px;
//     background-color: #fff;
//     padding-left: 6.5%;
//     padding-right: 5%;

//     &-p {
//       font-style: normal;
//       font-weight: 600;
//       font-size: 22px;
//       line-height: 27px;
//       text-align: center;
//       text-transform: uppercase;
//       color: #222222;
//       padding-bottom: 30px;
//     }
//     &-button {

//     }
//   }
// }
.footer {
  z-index: -1;
}
.standart-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16%;
  transition: 0.3s linear;
}

.fon-standart-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.4;
  transition: 0.3s linear;
}

.window-standart-modal {
  height: 351px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: #fff;
  transition: 0.3s linear;
  transform: translateX(150px);
  overflow-y: auto;
}

.window-standart-modal-text {
  width: 58%;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.window-standart-modal-button {
  background-color: #2ebfb1;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 270px;
  height: 60px;
  position: relative;
  top: 37px;
}

.standart-modal-buton {
  position: fixed;
  opacity: 1;
  z-index: 1;
}

.inp .color-red {
  color: #ac0000 !important;
  font-weight: 500;
}

.error-message-service {
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #ac0000;
}

@media (max-width: 1023px) {
  .error-message-service {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .error-message-service {
    font-size: 10px;
    line-height: 15px;
  }
}
