#scrollbar-modal::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
#scrollbar-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(85, 85, 85, 0.2);
}

.modal-nav-no-desctop-menu-wrapper {
  padding-top: 40px;
  height: auto;
}
.fisedPage {
  position: fixed;
}

.modal {
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: -1;
  opacity: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s linear;

  .sum-menu-cardio {
    height: auto;
    position: absolute;
    opacity: 0;
    z-index: -1;
    transform: translateY(-20px);
  }

  .sum-menu-power {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transform: translateY(-20px);
  }

  &-content {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 606px;
    background-color: #fff;
    padding-left: 6.5%;
    padding-right: 5%;
    transition: 0.3s linear;
    transform: translateX(150px);
    overflow-y: auto;

    .posotoin-button-close {
      display: flex;
      justify-content: flex-end;
      align-content: flex-end;
      width: 168%;
      height: 78px;
      margin-bottom: 11%;
      margin-top: 40px;

      .button-close {
        cursor: pointer;
        width: 36px;
        height: 33px;
      }
    }

    .modal-search {
      height: 41px;
      width: 83%;

      .search-container {
        background-color: #e6e8ed;
        border-radius: 4px;
        height: 40px;
        width: 160%;

        .modal-search-input {
          background-color: #e6e8ed;
          width: 80%;
          height: 100%;
          padding-left: 20px;
        }

        .search-icon {
          position: relative;
          top: 0;
          right: -9px;
        }
      }
    }

    .modal-nav {
      height: 75%;
      display: flex;
      width: 100%;
      flex-direction: column;

      &-no-desctop-menu {
        position: relative;
        width: 100%;
        display: none;
        flex-direction: column;
        padding-bottom: 40px;
        height: auto;
        &-a {
          cursor: pointer;
          width: 83%;
          font-weight: 600;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #000000;
          padding-top: 40px;
          position: relative;
        }
        &-svg {
          position: absolute;
          top: 45px;
          right: -117px;
        }
        &-svg-power {
          position: absolute;
          top: 45px;
          right: -104px;
        }
        &-sub-menu {
          height: auto;
          width: 65%;
          display: flex;
          flex-direction: column;
          &-a {
            height: auto;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.03em;
            color: #000000;
            padding-top: 30px;
            padding-left: 40px;
          }
        }
      }

      &-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 70px;
        &-a {
          font-weight: bold;
          height: auto;
          font-size: 25px;
          line-height: 48px;
          text-transform: uppercase;
          color: #222222;
          padding-top: 40px;
          position: relative;
          display: inline-block;
          width: -moz-max-content;
          width: -webkit-max-content;
          width: -o-max-content;
          &:after {
            transition: 0.2s ease-out;
            content: "";
            opacity: 0;
            position: absolute;
            top: 85px;
            left: 0;
            width: 100%;
            height: 4px;
            z-index: 0;
            background: #2ebfb1;
          }
          &:hover:after,
          &:focus:after {
            top: 80px;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .modal-content {
    width: 500px;
    padding-left: 5.5%;
    padding-right: 1%;
  }
}

@media (max-width: 1023px) {
  .modal {
    overflow-x: hidden;
  }

  .modal .modal-content {
    height: 100%;
    width: 500px;
    overflow-y: scroll;
    padding-left: 5.5%;
    padding-right: 5.5%;
    .modal-nav-no-desctop-menu-svg {
      right: -313px;
    }
    .modal-nav-no-desctop-menu-svg-power {
      right: -296px;
    }
    .modal-search .search-container {
      background-color: #e6e8ed;
      border-radius: 4px;
      height: 40px;
      width: 195%;
      .modal-search-input {
        width: 83%;
      }
    }
    .posotoin-button-close {
      margin-bottom: 1px;
    }
    .modal-nav {
      &-no-desctop-menu {
        display: flex;
        height: auto;
      }
      &-menu {
        height: auto;
        &-a {
          padding-top: 25px;
          font-size: 14px;
          line-height: 25px;
          &:after {
            display: none;
          }
          &:hover:after,
          &:focus:after {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .modal-content .posotoin-button-close {
    width: 100%;
  }

  body .modal .modal-content {
    width: 320px !important;
    padding-left: 5.5%;
    padding-right: 5.5%;
    height: auto;

    .modal-search {
      width: 100%;
      height: auto;

      .search-container {
        width: 98%;
      }
    }
    .modal-nav {
      padding-top: 15px;
      &-no-desctop-menu {
        height: auto;
        &-a {
          height: auto;
          font-size: 12px;
          line-height: 17px;
          width: 100%;
        }
        &-sub-menu {
          height: auto;

          &-a {
            height: auto;
            font-size: 11px;
            line-height: 15px;
            padding-top: 20px;
            padding-left: 30px;
          }
        }
      }

      &-menu {
        height: auto;
        &-a {
          height: auto;
          font-size: 12px;
          line-height: 17px;
          &:after {
            height: auto;
            display: none;
          }
          &:hover:after,
          &:focus:after {
            height: auto;
            display: none;
          }
        }
      }
    }
  }

  .test-first {
    height: 25%;
    width: 100%;
  }
  .modal-nav {
    width: 100%;
  }
  .test {
    height: auto;
    width: 100%;
  }

body .modal .modal-content .modal-nav-no-desctop-menu-svg {
    right: -150px;
}
body .modal .modal-content .modal-nav-no-desctop-menu-svg-power {
    right: -136px;
}
}
@media (max-width: 1023px) {
  .test {
    border-top: 2px solid #e6e8ed;
  }
}
