.modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  position: fixed;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s linear;

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    // align-content: flex-end;
    align-items: flex-start;
    z-index: 1;
    width: 606px;
    height: 100%;
    background-color: #fff;
    padding-left: 6.5%;
    padding-right: 5%;
    transition: 0.3s linear;
    transform: translateX(50px);

    .posotoin-button-close {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-content: flex-end;
      width: 100%;
      height: 78px;
      margin-bottom: 11%;

      .button-close {
        cursor: pointer;
        width: 36px;
        height: 33px;
      }
    }

    .modal-search {
      height: 41px;
      width: 83%;

      .search-container {
        background-color: #e6e8ed;
        border-radius: 4px;
        height: 100%;
        width: 100%;

        .modal-search-input {
          background-color: #e6e8ed;
          width: 85%;
          height: 100%;
          padding-left: 20px;
        }

        .search-icon {
          position: relative;
          top: 0;
          right: 7px;
        }
      }
    }

    .modal-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: column;
      align-content: flex-start;
      margin-top: 34.5%;
      height: 65%;
      width: 100%;

      div {
        padding-bottom: 20.4%;
        position: relative;
        &:after {
          transition: 0.2s linear;
          content: "";
          opacity: 0;
          position: absolute;
          top: 60px;
          right: 0;
          width: 100%;
          height: 4px;
          z-index: 0;
          background: #2ebfb1;
        }
        &:hover:after,
        &:focus:after {
          top: 50px;
          opacity: 1;
        }
      }

      div a {
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        color: #222222;
        position: relative;
      }
    }
  }
}
