.breadcrumbs {
  display: flex;
  width: 100%;
  height: 22px;
  margin-top: 0px;

  a,
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #444444;
    position: relative;
  }
  p {
    padding-left: 5px;
  }

  a::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 85%;
    height: 2px;
    z-index: 1;
    background: #2ebfb1;
    opacity: 0;
    transition: 0.2s ease-out;
  }
  a:hover:after {
    top: 25px;
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  .breadcrumbs {
    margin-top: 14px;

    a,
    p {
      font-size: 12px;
      margin-top: 0px;
    }
    a::after {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  main .breadcrumbs {
    margin-top: 7px;
    padding-left: 0;

    a,
    p {
      font-size: 9px;
    }
  }
}
