.breadcrumbs {
  display: flex;
  width: 100%;
  height: 22px;
  margin-top: 0px;

  a,
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #444444;
  }
  p {
    padding-left: 5px;
  }
}

@media (max-width: 1023px) {
  .breadcrumbs {
    margin-top: 14px;

    a,
    p {
      font-size: 12px;
      margin-top:0px;
    }
  }

  .main-padding-bottom1-3 .breadcrumbs{
    padding-left: 3%;
  }
}

@media (max-width: 767px) {
  .breadcrumbs {
    margin-top: 7px;
    padding-left: 3.5%;

    a,
    p {
      font-size: 9px;
    }
  }
}
